terraform.tfvars
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
credentials.json
ansible_inventory.ini
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tfplan
